<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <style>
        :root {
            --bgcolor: linear-gradient(45deg,#4A148C,#BA68C8);
            --txtcolor: #4A148C;
        }

        .bg-mycolor {
            background: var(--bgcolor) !important;
        }

        .txt-mycolor {
            color: var(--txtcolor);
        }

        #menu {
            background: transparent !important;
        }

            #menu ul li a {
                color: white;
            }

        .ufooter {
            min-height: 300px;
        }

        .bfooter {
            min-height: 50px;
        }

        .ufooter a {
            text-decoration: none;
        }

        .z {
            padding-left: 200px;
        }

        .y {
            color: gray;
        }

        .w:hover {
            background: #FFCDD2;
            color: black !important;
            transform: scale(1.1);
            border-radius: 5px;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container-fluid">
        <div class="row t1 text-bg-dark text-center">
            <div class="col-sm-12 col-lg-3 col-md-6">
                <i class="fa-solid fa-phone fa-spin"></i>
                +91 7887081306
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6">

                <i class="fa-solid fa-envelope"></i>
                deveshc650@gmail.com
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6">
                Welcome to Zepto
            </div>
            <div class="col-sm-12 col-lg-3 col-md-6">
                <i class="ms-2 fa-brands fa-facebook"></i>
                <i class="ms-2 fa-brands fa-instagram"></i>
                <i class="ms-2 fa-brands fa-twitter"></i>
                <i class="ms-2 fa-brands fa-whatsapp"></i>
                <i class="ms-2 fa-brands fa-youtube"></i>
            </div>
        </div>
        <div class="row t2 py-3">
            <div class="col-sm-10 mx-auto">
                <div class="row">
                    <div class="col-sm-3 fs-2">
                        10 Minute <b class="txt-mycolor">
                            Zepto
                            <i class="fa-solid fa-truck-fast"></i>
                        </b>
                    </div>
                    <div class="col-sm-3 text-end"> </div>
                    <div class="col-sm-3 text-end">
                        @{
                            if (Session["useremail"] != null)
                            {
                                <a href="/home/myorder" class="nav-link">
                                    <button class="btn btn-danger fs-5">
                                        My Orders
                                    </button>
                                </a>
                            }
                        }
                    </div>
                    <div class="col-sm-3 ">                       
                        <a href="/home/cart" class="btn bg-mycolor">
                            <i class="fa-solid fa-cart-shopping text-light"></i>
                            <i class="badge bg-light text-dark">@Html.Raw(Session["cart"])</i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row t3 bg-mycolor">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 z my-2">
                <!--start menu-->
                <nav class="navbar navbar-expand-lg bg-body-tertiary " style="background:transparent !important;">
                    <div class="container-fluid" id="menu">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active w" aria-current="page" href="~/Home/Index"> <i class="fa-solid fa-house"></i> Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link w" href="/Home/About"> <i class="fa-solid fa-circle-info"></i> About Us</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link w" href="/Home/Product"> <i class="fa-solid fa-gift"></i> Product</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link w" href="/Home/Customer"> <i class="fa-regular fa-address-book"></i> Customer Support</a>
                                </li>
                                @{
                                    if (Session["useremail"] == null)
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link w" href="/Home/SignIn"> <i class="fa-solid fa-arrow-right-to-bracket"></i> SignIn</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link w" href="/Home/SignUp"> <i class="fa-solid fa-user-plus"></i> SignUp</a>
                                        </li>
                                        <li class="nav-item w">
                                            <a class="nav-link disabled w" aria-disabled="true">
                                                Default user
                                                <img src="~/Content/images/default user.jpg" class="img-thumbnail" style="max-height:30px;" />
                                            </a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item ">
                                            <a class="nav-link w" href="/Home/LogOut"> <i class="fa-solid fa-arrow-right-from-bracket"></i> LogOut</a>
                                        </li>

                                        <li class="nav-item w">
                                            <a href="/home/profile" class="nav-link w">
                                                @Session["username"]
                                                <img src="~/Content/images/default user.jpg" class="img-thumbnail" style="max-height:30px;" />
                                            </a>
                                        </li>

                                    }
                                }



                            </ul>
                        </div>
                    </div>
                </nav>
                <!--end menu-->
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row bg-light" style="min-height:450px;">
            <div class="col-sm-12">
                @RenderBody()
            </div>
        </div>
        <hr />
        <div class="row ufooter mt-2 bg-light">
            <div class="col-sm-12">
                <div class="row ">
                    <div class="col-sm-12 text-dark">
                        <b class=" fs-3 pt-5" style="padding-left:400px;">Categories</b>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-6 mt-5">
                                <a href="#" class="text-dark">Fruits & Vegetable</a><br /><br />
                                <a href="#" class="text-dark">BreakFast & Sauces</a><br /><br />
                                <a href="#" class="text-dark">Rice & Dal</a><br /><br />
                                <a href="#" class="text-dark">Dairy & Breads</a><br /><br />
                            </div>
                            <div class="col-sm-6 mt-5 text-dark">
                                <a href="#" class="text-dark">Tea & Coffee </a><br /><br />
                                <a href="#" class="text-dark">Dry Fruits</a><br /><br />
                                <a href="#" class="text-dark">Cold Drinks & juices</a><br /><br />
                                <a href="#" class="text-dark">Biscuits</a><br /><br />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 text-dark mt-5">
                        <a href="#" class="text-dark">Sweets</a><br /><br />
                        <a href="#" class="text-dark">Cakes</a><br /><br />
                        <a href="#" class="text-dark">Drinks</a><br /><br />
                        <a href="#" class="text-dark">Masala & Oil</a><br /><br />
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <h3 class="fs-2 txt-mycolor">
                                    <b class="text-dark"> Zepto</b>
                                    <i class="fa-solid fa-truck-fast"></i>
                                </h3>
                                <br />
                                <i class="y fa-brands fa-facebook  fs-3"></i><i class="y fa-brands  fa-instagram ps-4 fs-3"></i><i class="y fa-brands  fa-twitter ps-4 fs-3"></i><i class="y fa-brands fa-linkedin ps-4 fs-3"></i><br /><br />
                                <span class="pt-5">KiranaKart Techlonogy Private Limited.</span>
                            </div>
                            <div class="col-sm-6">
                                <b class=" fs-3">Contact&nbsp;<u class="txt-mycolor">Address</u></b><br /><br />
                                <i class="fa-solid fa-house-chimney txt-mycolor fs-3"></i>Narayanpur,
                                Ghughli,Maharajganj, Uttar Pradesh 273151<br />
                                <i class="txt-mycolor fs-4 pt-2 fa-solid fa-phone"></i> +91 7887081306<br />

                                <i class="txt-mycolor fs-4 pt-2 fa-regular fa-envelope"></i> deveshc650@gmail.com<br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row bfooter bg-dark mt-2">
            <div class="col-sm-12 text-center text-light pt-3">
                All Rights Reserved © || Developed by:- Devesh Chaturvedi
            </div>
        </div>
    </div>
    <script src="~/Content/js/bootstrap.bundle.js"></script>
</body>
</html>
