
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/general.cshtml";
}

<div class="container mt-5">
    <h2>100x retail in 5 years</h2>
    <p>
        Imagine needing something when you are at home and getting it before you have tied your shoelaces to step out. We are revolutionizing e-commerce by making the stuff most important to you, available to you in a blink of your eye. 
    </p>
    <p>
        We want our customers to focus on the more important things for themselves and not need to plan for the little things that life needs on an everyday basis. We are here to get your chores out of your way.
    </p>
    <p>
        Our mission is – “instant commerce indistinguishable from magic”. Using a backbone of technology, data sciences, and rich customer insights, we've built a dense and fast network of partner stores enabling lightning fast deliveries in minutes.
    </p>
    <p>
        We are already one of the largest e-grocery companies in India. Our ambition however, is to be 100x this size in the next five years.
    </p>
    <p>
        In order to become one of the most important e-retail companies of our generation, we need builders who can think on their feet, take extreme ownership and commit to making outcomes happen. If you are ambitious, smart, and don’t have an ego about it, we’d love to hear from you.
    </p>
    <p>
        Opportunities to create $100 billion businesses in India are rare. We are on the way and looking for the hungry.
    </p>
    <p>
        "Zepto" is owned & managed by "Blink Commerce Private Limited” (formerly known as Grofers India Private Limited) and is not related, linked or interconnected in whatsoever manner or nature, to “GROFFR.COM” which is a real estate services business operated by “Redstone Consultancy Services Private Limited”
    </p>
</div>